<h1>Products#edit</h1>
<%= form_with model:@product do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.number_field :price %>
    <%= f.collection_select(:category_id, @categories, :id, :name, prompt: "選択してください") %>
    <%= f.submit "更新" %>
<% end %>

<%= link_to "戻る", products_path %>
